In [11]:
# install the dbldatagen library
%pip install dbldatagen

StatementMeta(, f95a3ba2-653f-4414-833d-078fbdb7d1f6, 36, Finished, Available)

Requirement already satisfied: dbldatagen in /nfs4/pyenv-643e721b-4f12-4aa5-8d3b-65750da265a5/lib/python3.10/site-packages (0.3.5)

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: /nfs4/pyenv-643e721b-4f12-4aa5-8d3b-65750da265a5/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Warning: PySpark kernel has been restarted to use updated packages.

In [18]:
# Fourth Synthetic data generation example

import dbldatagen as dg #import the library
from pyspark.sql.types import IntegerType, FloatType, StringType  #use sql types to define the type of the columns.

ds = (
     dg.DataGenerator(sparkSession=spark, name="test_dataset1", rows=100, partitions=4)#100 rows of data
     .withIdOutput() #Create an ID Column
     .withColumn("name", StringType(), percentNulls=0.3, template=r'\\w \\w') #create a name based on a template with 30% of rows as NULLs
     .withColumn("email", StringType(), template=r'\w.\w@\w.com') #create an email based on a template
)

df = ds.build() #here the data is actually generated and the DataFrame is built
df.write.mode("overwrite").format("delta").saveAsTable("Example4")
display(df.limit(10)) # show 10 rows of data#

StatementMeta(, f95a3ba2-653f-4414-833d-078fbdb7d1f6, 44, Finished, Available)

SynapseWidget(Synapse.DataFrame, 72038116-7847-4c17-a543-4ab1254e2d9a)