In [1]:
# install the dbldatagen library
%pip install dbldatagen

StatementMeta(, 32c23642-c78a-4373-89b1-c10f08606904, 8, Finished, Available)

Collecting dbldatagen
  Downloading dbldatagen-0.3.5-py3-none-any.whl (86 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.3/86.3 kB 15.1 MB/s eta 0:00:00
Installing collected packages: dbldatagen
Successfully installed dbldatagen-0.3.5

[notice] A new release of pip is available: 23.0 -> 23.2.1
[notice] To update, run: /nfs4/pyenv-3f2f4466-b6e3-462e-83ee-1645259c035e/bin/python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

Warning: PySpark kernel has been restarted to use updated packages.

In [3]:
# Third Synthetic data generation example

import dbldatagen as dg #import the library
from pyspark.sql.types import IntegerType, FloatType, StringType  #use sql types to define the type of the columns.



ds = (dg.DataGenerator(spark, name="test_data_set1", rows=10,partitions=4) #10 rows of data
                            .withIdOutput() #Create an ID Column
                            .withColumn("code1", IntegerType(), minValue=100, maxValue=200, random=True) #create a column named "code1" of Integer Type, with values from 100 to 200
                            .withColumn("code2", IntegerType(), minValue=0, maxValue=10, random=True) #create a column named "code2" of Integer Type, with values from 0 to 20
                            .withColumn("code3", StringType(), values=['a', 'b', 'c'], random=True) #create a column named "code3" of String Type, with characters a,b or c as values
                            .withColumn("code4", StringType(), values=['a', 'b', 'c'], random=True) #create a column named "code4" of String Type, with String Type, with characters a,b or c as values
                            )
                            
df = ds.build() #here the data is actually generated and the DataFrame is built
df.write.mode("overwrite").format("delta").saveAsTable("Example3") #save the DataFrame as a Table in the Lakehouse
display(df.limit(10)) # show 10 rows of data

StatementMeta(, 32c23642-c78a-4373-89b1-c10f08606904, 11, Finished, Available)

SynapseWidget(Synapse.DataFrame, 3a5eb158-651d-48bb-816c-b333593d3940)